# macOS
.DS_Store

# IntelliJ IDEA
/.idea/
*.iml
*.iws
/*.ipr
/out/

# VS Code
.vscode/

# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*

# Build / package directories
/target/
/build/

# Gradle
.gradle/
gradle-app.setting

# Maven
dependency-reduced-pom.xml

# Logs
*.log

# Temporary / swap
*~
*.swp
*.tmp

# Others
/node_modules/

# Ignore any OS-specific files
Thumbs.db
